<nav>
    <img src="../../assets/brand.png" alt="RK Software">
    <ul>
        <li class="active">
            <img src="../../assets/icons/house.svg" alt="">
            <span>Dashboard</span>
        </li>
        <span class="divider"></span>
        <li>
            <img src="../../assets/icons/gear.svg" alt="">
            <span>Configurações</span>
        </li>
        <li>
            <img src="../../assets/icons/question.svg" alt="">
            <span>Ajuda</span>
        </li>
    </ul>
</nav>