<div class="wrapper">
    <app-sidemenu class="sidemenu"></app-sidemenu>
    <main>
        <h1>Dashboard</h1>
        <span class="description">Informações sobre os dados atuais</span>

        <div class="content">
            <div class="categories">
                <div class="category">
                    <img src="../assets/icons/Paper.png" alt="">
                    <div class="data">
                        <span class="title">Projetos</span>
                        <span class="value">3</span>
                    </div>
                </div>

                <div class="category">
                    <img src="../assets/icons/Paper.png" alt="">
                    <div class="data">
                        <span class="title">Projetos</span>
                        <span class="value">3</span>
                    </div>
                </div>

                <div class="category">
                    <img src="../assets/icons/Paper.png" alt="">
                    <div class="data">
                        <span class="title">Projetos</span>
                        <span class="value">3</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>